# Docker Hub
DOCKER_HUB_USERNAME=your_dockerhub_username

# MySQL
MYSQL_ROOT_PASSWORD=your_mysql_root_password

# EZVIZ
EZVIZ_KEY=your_ezviz_key
EZVIZ_SECRET=your_ezviz_secret

# POSPAL
POSPAL_USERNAME=your_pospal_username
POSPAL_PASSWORD=your_pospal_password