# selecting Env
ENVIRONMENT=

# CHROME_VERSION
CHROME_VERSION_TESTING=

# EZVIZ API KEY & SECRET
EZVIZ_KEY=
EZVIZ_SECRET=

# POSPAL USERNAME & PASSWORD
POSPAL_USERNAME=
POSPAL_PASSWORD=

# DATABASE_URL
POSPAL_DATABASE_URL=