name: Auto Deployment

on:
  push:
    tags:
      - 'v*'

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Extract tag name
      id: get-tag
      run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

    - name: Docker Login
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker Image
      run: |
        docker build -f ./Dockerfile.prod -t ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:latest .
        docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:${{ steps.get-tag.outputs.TAG }} .

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:${{ steps.get-tag.outputs.TAG }}