name: Auto Deployment

on:
  push:
    branches:
      - dev

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Docker Login
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}-dev:latest .
        docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}-dev:${{ github.sha }} .

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}-dev:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}-dev:${{ github.sha }}